html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}

.canvas3D {
  background-color: #4e4b4b;
}

body {
  background: #4e4b4b;
}

.panel {
  position: absolute;
}

.text-center {
  text-align: center;
}
.text-orange {
  color: orange;
}
#title {
  left: 0;
  top: 2.5%;
  width: 100%;
}
#effect {
  left: 2%;
  top: 10.5%;
}

@media (min-width: 768px) and (orientation: landscape) {
  #effect {
    top: 17.5%;
  }
}

@media (min-width: 992px) {
  #effect {
    top: 10.5%;
  }
}
